@font-face {
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 100;
  src: './calibri/Calibri-Light.ttf' format('ttf');
}

@font-face {
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 400;
  src: './calibri/Calibri-Regular.ttf' format('ttf');
}

@font-face {
  font-family: 'Calibri';
  font-style: italic;
  font-weight: 400;
  src: './calibri/Calibri-Italic.ttf' format('ttf');
}

@font-face {
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 700;
  src: './calibri/Calibri-Bold.ttf' format('ttf');
}

@font-face {
  font-family: 'Calibri';
  font-style: italic;
  font-weight: 700;
  src: './calibri/Calibri-Bold-Italic.ttf' format('ttf');
}
