@font-face {
  font-family: 'Sahar';
  font-style: normal;
  font-weight: 100;
  src: './sahar/Sahar-Thin.woff2' format('woff2');
}
@font-face {
  font-family: 'Sahar';
  font-style: normal;
  font-weight: 400;
  src: './sahar/Sahar-Regular.woff2' format('woff2');
}

@font-face {
  font-family: 'Sahar';
  font-style: normal;
  font-weight: 700;
  src: './sahar/Sahar-Bold.woff2' format('woff2');
}

@font-face {
  font-family: 'Sahar';
  font-style: normal;
  font-weight: 900;
  src: './sahar/Sahar-Heavy.woff2' format('woff2');
}
