#form {
  margin-bottom: 15rem;
  .form-content {
    text-align: left;
  }
  h2 {
    margin-bottom: 1rem;
  }
  h4 {
    margin: 0 0 4rem 0;
  }
  label {
    font-size: 14px;
  }
  small {
    font-size: 10px;
  }
  .form-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 75px);
    gap: 24px;
    @media (max-width: 900px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(auto-fill, 64px);
    }
    @media (max-width: 475px) {
      grid-template-columns: 1fr;
    }
  }
  .submit-button {
    background-color: $primary-color;
    font-size: 16px;
    font-weight: 700;
    padding: 4px 24px;
    border: none;
    box-shadow: none;
    margin-top: 16px;
  }
  .form-checkbox {
    display: flex;
    align-items: flex-end;
    padding-bottom: 16px;
    input {
      background-color: $primary-color;

      :checked {
        background-color: $primary-color !important;
      }
      cursor: pointer;
    }
    label {
      height: 20px;
      margin-left: 8px;
    }
    a {
      color: $primary-color;
      :hover {
        text-decoration: underline;
      }
    }
    input[type='checkbox']:checked {
      background-color: $primary-color;
    }
  }
  .form-checkbox input[type='checkbox']:checked {
    color: white !important;
    background-color: green !important;
  }
}
